# Data from the Washington Post from 2015-2016

Link: https://github.com/washingtonpost/data-police-shootings

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import csv
import pickle
import collections

/Users/georgemcintire/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/georgemcintire/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
wp = pd.read_csv("data-police-shootings/fatal-police-shootings-data.csv")

In [3]:
wp.shape

(1213, 12)

In [5]:
wp.tail()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level
1208,1388,Thurman Reynolds,2016-03-19,shot,gun,21,M,NaN,Chicago,IL,False,attack
1209,1392,Dylan R. Whittaker,2016-03-19,shot,gun,23,M,NaN,White Plains,KY,False,attack
1210,1380,Boyd Keith Ballard,2016-03-20,shot,knife,61,M,NaN,Hopewell,VA,True,attack
1211,1391,Clarence Briggs,2016-03-20,shot,gun,55,M,NaN,Fort Littleton,PA,False,attack
1212,1393,TK TK,2016-03-20,shot,gun,NaN,M,NaN,Fort Wayne,IN,False,attack

In [6]:
wp.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level
0,3,Tim Elliot,2015-01-02,shot,gun,53,M,A,Shelton,WA,True,attack
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39,M,H,Evans,CO,False,attack